.dialog-overlay,
.contacts-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.4)

  > div
    position: relative
    top: 30vh
    width: 16em
    height: auto
    margin: auto
    padding: 2em
    background-color: white

  a
    @extend button
    text-decoration: none
    &:hover
      color: lighten(cornflowerblue, 20%)

  button + button,
  a + a
    margin-left: 1em

.contacts-overlay
  @extend %basic-overlay
  +basic-trans(opacity)

  > div
    width: 28em

  input
    color: black
    font-size: 2em

.open-contacts
  position: fixed
  top: auto
  bottom: 1em
  left: 1em
  font-size: 2em
  background-color: firebrick

  &:active
    top: auto
    bottom: 0.8em
