input[type="search"] {
  border: none;
  background-color: lighten(cornflowerblue,25%);
  color: white;
}
input[type="checkbox"], input[type="radio"] {
  width: 0;
  height: 0;
  display: none;
  &:checked + label {
    background-color: cornflowerblue;
    color: white;
  }
}
td input[type="date"] {
  max-width: 9.5em;
}
