.can-travel
  width: 80%
  margin: 0.5em 10%
  text-align: left

  > div
    width: 20%
    display: inline-block
    > div
      & + div
        margin-top: 0.5em

  textarea
    display: inline-block
    width: 75%

  label
    @extend %button
    width: auto
    margin: 0
