@import 'variables', 'mixins', 'global';

#col-price {
  width: 8em;
}
#col-pages {
  width: 5em;
}
#col-menu {
  width: 3em;
}
#col-downloadAI {
  width: 7.3em;
}

@for $i from 1 through 3 {
  tr:nth-child(#{$i}) {
    background-image: none;
  }
}
#search {
  height: 4em;
  // background-color: steelblue;

  td {
    vertical-align: middle;
  }
  input {
    width: 90%;
    padding-left: 0.3em;
    border-radius: 0.5em;
    background-color: steelblue;
    box-shadow: 0 0 0.7em rgba(200,34,34,0.8);

    &::-webkit-input-placeholder {
      // color: firebrick;
      color: white;
    }
    &:-moz-placeholder { /* Firefox 18- */
      // color: firebrick;
      color: white;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      // color: firebrick;
      color: white;
    }
    &:-ms-input-placeholder {
      // color: firebrick;
      color: white;
    }
  }
}
#inputs {
  border-bottom: 2px solid cornflowerblue;
  background-color: linen;
}
#instructions {
  color: grey;
}

[readonly] {
  // display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

label {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@import 'input-types';

%button {
  border: 1px solid cornflowerblue;
  padding: 0.2em;
  border-radius: 0.25em;
  &:active {
    background-color: cornflowerblue;
  }
}

.coverimg {
  max-height: 5em;
  cursor: pointer;
}

.ISBNs {
  max-width: 8em;
}

.warning {
  background-color: firebrick !important;
  color: white !important;
}

.authors {
  > div {
    min-width: 19em;
    & + div {
      margin-top: 0.25em;
    }
  }
  > * {
    display: block;
  }
  input + button {
    margin-top: 0.25em;
  }
  .author-button {
    @extend %button;
  }
  label {
    display: inline-block;
    width: 1.2em;
    text-align: center;
    line-height: 1.1;
    height: 1.2em;
    border-radius: 50%;
  }
}

td {
  button {
    height: 5em;
    min-width: 3em;
    margin-top: 0.2em;
  }
}

button.add-input {
  height: auto;
  &::before {
    content: '+ ';
  }
}

.download-button {
  margin-right: 0.2em;
}

.loading {
  height: 1em;
}

.padding-top {
  padding-top: 1em;
}

@import 'modals', 'travel', 'dialogs', 'dropin';

.invalid {
  background-color: red !important;
}

@import 'humane-flatty';
