body {
  background: #eee;
  text-align: center;
  padding: 0 25px;
}

#main {
  width: auto;
  margin: auto;
  text-align: left;
  background: white;
  padding: 50px 60px;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
}

tr:nth-child(odd) {
  background-color: #E0F2F7;
}
tr:nth-child(1) {
  background-color: transparent;
}
#instructions {
  color: grey;
}
/*#authors {
  width: 98%;
}*/
input[readonly] {
  /*display: block;*/
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.authors > * {
  display: block;
}
td button {
  height: 100%;
}
td button.add-input {
  height: auto;
}
.loading {
  height: 1em;
}
