doctype html
html(lang='en')

  include views/head

  body
    #main
      table

        include views/table/colgroup
        include views/table/thead
        include views/table/instructions
        include views/table/inputs
        include views/table/search
        include views/table/book-rows

      button.load-more(
        rv-show='config.canLoadMore'
        rv-on-click='load150more') Load 150 more books

      include views/version

    button.open-contacts(rv-on-click='openContacts') Contacts
    //- button.download-catalogue(rv-on-click='downloadCatalogue') &#x21E9; Catalogue

    include views/author-overlay
    include views/notes-overlay
    include views/long-overlay
    include views/contacts-overlay

    script(src='js/index-compiled.js')
    if livereload
      script(src='//localhost:34768/livereload.js')
