colgroup
  col#col-title(span='1')
  col#col-authors(span='1')
  col#col-ISBNs(span='1')
  col#col-pages(span='1')
  col#col-price(span='1')
  col#col-pubdate(span='1')
  col#col-shortdesc(span='1')
  col#col-save(span='1')
  col#col-menu(span='1')
  col#col-downloadAI(span='1')
